.feedback-modal {
	position: fixed;
	width: 100vh;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: $background-white;
	width: 320px;
	display: none;
	z-index: 2;

        &__main {
            box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
            background-color: $background-white;
            position: relative;
            height: 100vh;
            right: 0;
            top: 0;
            display: block;
            z-index: 2;

            @media(min-width:$screen-desktop){
                width: 440px;
                position: absolute;
            }



        }

        &__button-close {
            margin: 20px 0 0 20px;
            background-image: url(/block7/src/img/icon.png);
            background-repeat: no-repeat;
            background-position: center;

            @media(min-width:$screen-desktop){
                position: absolute;
                top:10px;
                left: -90px;    
            }
        }

        &__title {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 30px; 
        } 
            
         &__line {
             background-image: url(/block7/src/img/turquoise.svg);
             background-repeat: no-repeat;
            width: 3px;
            height: 40px;
        }

        &__text {
            font-family: TTLakes;
            line-height: 32px;
            font-size: 28px;
        }

        &__container {
            display: grid;
            gap: 15px;
            padding: 30px;
        }

        &__input--small {
            border: 1px solid #EAEAEA;
            border-radius: 8px;
            width: auto;
            height: 48px;
            &::placeholder {
                font-size: 16px;
                line-height: 24px;
                color: $color-placeholder;
                transform: translateX(10px);
            }
        }


        &__input--big {
            border: 1px solid #EAEAEA;
            border-radius: 8px;
            width: auto;
            height: 118px;
            &::placeholder {
                font-size: 16px;
                line-height: 24px;
                color:$color-placeholder;
                transform: translate(10px,-35px);
            }
        }

        &__personal-data {
            font-family: TTLakes;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0px;
            color:$color-grey;
            a {
                cursor: pointer;
                color: $color-pink;
            }
        }

        &__button-send {
            border: none;
            border-radius: 50px;
            text-align: center;
            background-color:$color-pink;
            background-image: url(/block7/src/img/send.svg);
            background-repeat: no-repeat;
            background-position: 115px center;
            color:$background-white;
            width: 136px;
            height: 32px;
            position: absolute;
            right: 30px;
            font-family:TTLakes;
            font-size: 12px;
            cursor: pointer;
        }
}    



.feedback-modal--open {
	display: block;
}








