
.left-aside{
    position: fixed;
    transform: translate(-320px);
    padding:20px;
    height: 100%;
    background-color:$background-white;
    z-index: 2;
        @media(min-width:$screen-desktop){
            position: relative;
            transform: translate(0);
            transition: all 0.5s ease-in;
            height: 100%;
        }
        

    &__header{
        display: flex;
        align-items: center;
    }

    &__button-logo{
        display: flex;
        align-items: center;
    }

    &__burger-button{
        background-image: url("../img/burger.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 20px;

        @media(min-width: $screen-mobile) {
            display: block;
        }
    }

    &__search-button{
        background-image: url("../img/search.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__logo-img{
        margin-right: 75px;
        width:97px;
        height: 51px;
    }

    &__nav{
        margin-top:50px;
    }

    &__nav ul{
        list-style: none;
        padding: 0;
    }
    

    &__nav li{
        line-height: 50px;
    }

    &__nav-item:hover::before{
        content:url("../img/turquoise.svg");
        position: fixed;
        left: 0;
    }

    &__nav-item:hover{
        color:$color-grey;
        transform: scale(2);
     }


    &__footer{
        position: fixed;
        bottom:0;
        padding-bottom: 30px;
        

        @media(min-width: $screen-mobile) {
            
            position: relative;
        }
    }

    &__footer-button{
        display: flex;
        gap: 15px;
    }

    &__mail{
        font-size: 16px;
        color:$color-darkBlue;
        font-weight: 400;
        margin-top: 16px;
    }

    &__number{
        font-size: 20px;
        font-weight: 600;
        margin-top: 12px;
    }

    &__lang{
        margin-top: 20px;
    }

    &__lang-btn{
        border: none;
        background-color:$background-white;
        cursor: pointer;
    }

    &__lang-btn:hover{
        color:$color-grey;

    
    }
    

    &__button--call{
        background-image: url("../img/phone.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &__button--chat{
        background-image: url("../img/chat.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &__button--profile{
        background-image: url("../img/profile.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}   


.circle{
    height: 40px;
    min-width: 40px;
    background-color:$color-pink;
    border-radius: 20px;
    border:none;
}

.circle:hover{
    opacity: 50%;
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.left-aside--open{
    transform: translate(0);
    transition: all 0.5s ease-in;
    box-shadow: 15px 0 10px 0 rgba(0,0,0,0.2);;  
}

a{
    text-decoration: none;
    color:$color-darkBlue;
}
