.price {

    &__header{
        background-color:$background-white;
        padding: 18px;
    }

    &__title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: -0.2px;
        color:$color-placeholder;

        @media(min-width: $screen-tablet) {
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
                color:$color-grey;
                font-size: 14px;
            }
    }
    

    &__service{
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        color:$color-grey;
        margin-top: 15px;
        margin-bottom: 0;
    }

    &__notes{
        margin-left: 24px;
        padding: 0 20px;
        font-family: TTLakes-Regular;
        font-size: 14px;
        color:$color-darkBlue;
    }

    &__notes--link{
        display: flex;
        text-decoration: none;
        margin-right: 5px;
        color:$color-darkBlue;
        font-size: 16px; 
    }

    &__notes--img{
        background-image: url("../img/send-pink.jpg");
        height: 24px;
        width: 24px;
    }

    &__table {

        @media(min-width:$screen-tablet) {
        background-color:$background-white;
        margin-top:20px;
        min-width: 720px;
        min-height: 356px;
        }
    }  

    &__row {

        @media(min-width:$screen-tablet) {

        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #EAEAEA ;
        padding: 24px 0px;
        margin: 0 16px;
        font-size: 16px;
        line-height: 18px;
        }
    }


    &__tablet {

        @media(min-width:$screen-mobile) {
            display: none;
        }
    
        @media(min-width:$screen-tablet) {
            display: flex;
            flex-direction: column;
            margin:20px;
        }
     }


    &__column1 {

        @media(min-width:$screen-tablet) {
            flex:3;
        }
    }

    &__column2 {

        @media(min-width:$screen-tablet) {
            flex: 1;
        }
    }    

    &__column3 {

        @media(min-width:$screen-tablet) {
            flex: 1;
        }
    }    

    &__column4 {

        @media(min-width:$screen-tablet) {
            flex: 1;
        }
    }    
       
}    

    
    
    

    



.slider-price{
    height: 200px;
    width: 240px;

    &__service-block{
        bottom: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__order-block{
        display: flex;
    }

    &__btn--order{
        position: absolute;
        text-transform: uppercase;
        font-family: TT Lakes;
        font-weight: 600;
        bottom: 20px;
        right: 20px;
        height: 32px;
        width: 119px;
        padding-right: 5px;
        border: none;
        color: $background-white;
        border-radius: 16px;
        background-color:$color-pink;
        background-image: url("../img/send.svg");
        background-repeat: no-repeat;
        background-position: 100px;
    }


    &__btn--order{
        @media(min-width:$screen-tablet){
            position: static;
        }
    }

    &__service-value{
        position: relative;
        font-size: 16px;
        font-weight: 700;
        color:$color-darkBlue;
        margin:0;
    }

    &___btn--tablet{
        @media(min-width:$screen-tablet) {
            position: static;
        }
    }
}


 .swiper-price {

    @media(min-width:$screen-tablet) {
        display: none;
    }
}
