$color-grey: #7E7E82;
$color-darkBlue: #1B1C21;
$bgColor: #24292e;
$color-pink: #FF3E79;
$color-placeholder: #B5B6BC;
$background-white:#FFFFFF;


$text: #fff;

$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1366px;
